<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<!--端口号-->
		<add key="port" value="COM1"/>
		<!--波特率-->
		<add key="baud" value="9600"/>
		<!--数据位-->
		<add key="data_bit" value="8"/>
		<!--校验位-->
		<add key="parity" value="None"/>
		<!--停止位-->
		<add key="stop_bit" value="One"/>
	</appSettings>
	<connectionStrings>
		<add name="db_config" connectionString="Server=localhost;DataBase=zx_scada_data;Uid=sa;Pwd=aaa111"/>
	</connectionStrings>
</configuration>
